<br>
<br>
<br>
<br>

<div class="container col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
    <div class="col-lg-12  col-md-12 col-sm-12">
        <p class="heading">User Registeration</p>
        <form style="margin:5%;">
            <div class="form-group row text">
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Username</label>
                    <br>
                    <input type="text" placeholder="username">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Email</label>
                    <br>
                    <input type="text" placeholder="email">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Phone</label>
                    <br>
                    <input type="text" placeholder="phone">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Collage</label>
                    <br>
                    <input type="text" placeholder="collage">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Password</label>
                    <br>
                    <input type="text" placeholder="Password">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Confirm Password</label>
                    <br>
                    <input type="text" placeholder="Confirm Password">
                </div>

                <div class="col-lg-12 col-sm-12 col-md-12" style="margin-top: 7%;">
                    <p class="choice">Select your choice of field:</p>
                    <!-- <hr style="background-color: white; width: 40%;"> -->
                </div>
                <br>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%;  float: left; ">
                    <input class="b" type="checkbox" (click)="move1()" id="box-1">
                    <label id="option" class="b" for="box-1">AI/ML</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-2">
                    <label id="option" class="b" for="box-2">Content Writing</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-3">
                    <label id="option" class="b" for="box-3">Digital Marketing</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-4">
                    <label id="option" class="b" for="box-4">Cyber Security</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-5">
                    <label id="option" class="b" for="box-5">Web Development - Mean Stack</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-6">
                    <label id="option" class="b" for="box-6">Web Development - PHP</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-7">
                    <label id="option" class="b" for="box-7">Block Chain</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-8">
                    <label id="option" class="b" for="box-8">Cloud Computing</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-9">
                    <label id="option" class="b" for="box-9">Android</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-10">
                    <label id="option" class="b" for="box-10">IOS</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-11">
                    <label id="option" class="b" for="box-11">Linux</label>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="margin-bottom: 2%; float: left;">
                    <input class="b" type="checkbox" (click)="move1()" id="box-12">
                    <label id="option" class="b" for="box-12">Graphic Design</label>
                </div>
                <div class="col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-md-10 offset-md-1" style="margin-top: 4%;">
                    <button type="button" class="btn btn-outline-info col-lg-12 col-md-12 col-sm-12">Register</button>
                </div>
            </div>

        </form>
    </div>
</div>